{{ define "header" }}
<header>
    <div class="logo"><div class="logoImage"><img src="/resources/img/logo_header_0.png" alt="sovy bank logo" class="headerLogo" /></div><h1 class="title">BANK</h1></div>
    <div class="clientInfo">Welcome {{ .FirstName }} {{ .LastName }}</div>
    <nav class="nav">
        <ul>
            <li><a href="#" class="accounts">Accounts</a></li>
            <li><a href="#" class="loans">Loans</a></li>
            <li><a href="#" class="transactions">Transactions</a></li>
        </ul>
    </nav>
    <a href="/bank/logout" class="logoutButton">Log out</a>
</header>
{{ end }}
