<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Matus Kacmar">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="resources/css/bank.css">
    <script src="resources/js/jquery-3.0.0.min.js"></script>
    <script src="resources/js/bankScript.js"></script>
</head>
<body>
    <div class="wrapper">
        {{ template "header" . }}
        {{ template "main" }}
        {{template "footer"}}
    </div>
</body>
</html>
